---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Services from "@components/services.astro";
import ServicesInverted from "@components/servicesInverted.astro";
import consulting from '../assets/consulting.jpg'
import design from "../assets/design.jpg";
import packanddeliver from "../assets/packanddeliver.jpg";
import production from "../assets/production.jpg";
import qcprocess from "../assets/qcprocess.jpg";


changeLanguage("en");

const services = [
    {
        name: "Consulting",
        description: "TD Product can provide consulting services to give you direction or feedback on your needs.",
        button: {
            text: "Learn More",
            link: "/",
        },
        image: consulting,
        position: 1
    },
    {
        name: "Design Process",
        description: "Printing is a tool that helps you communicate what you want your customers to understand about your products/services. We can help improve your communication with our services such as:",
        button: {
            text: "Learn More",
            link: "/",
        },
        image: design,
        position: 2
    },
    {
        name: "Production Process",
        description: "Printing is a tool that helps you communicate what you want your customers to understand about your products/services. We can help improve your communication with our services such as:",
        button: {
            text: "Learn More",
            link: "/",
        },
        image: production,
        position: 3
    },
    {
        name: "QC Process",
        description: "Printing is a tool that helps you communicate what you want your customers to understand about your products/services. We can help improve your communication with our services such as:",
        button: {
            text: "Learn More",
            link: "/",
        },
        image: qcprocess,
        position: 4
    },
    {
        name: "Packaging & Delivery",
        description: "Printing is a tool that helps you communicate what you want your customers to understand about your products/services. We can help improve your communication with our services such as:",
        button: {
            text: "Learn More",
            link: "/",
        },
        image: packanddeliver,
        position: 5
    },
];
---

<Layout title="Services">
  <Container>
     <Sectionhead>
       <Fragment slot="title">Services</Fragment>
       <Fragment slot="desc"
         >Whatever your business needs are, we can meet them.</Fragment>
     </Sectionhead>
      <div class="grid gap-10 mx-auto max-w-screen-lg mt-12">
           {services.map((item) => {
            if(item.position % 2 == 0) {
                return <Services services={item}/> 
            } 
                return <ServicesInverted services={item}/>

            
        })
        } 
    <!-- //     {services.map((item, index) => {
    //      (item.position % 2 == 0) ?
    //             <Services key={index} services={item}/> :
    //             <ServicesInverted key={index} services={item}/>
    //     }
    // )} -->
      </div>
  </Container>
</Layout>


